doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Web Development
    link(rel='stylesheet', type='text/css', href='/css/aboutStyle.css')
  body
    .main
      .navbar
        .icon
          h2.logo Code School
        .menu
          ul
            li
              a(href='/index') HOME
            li
              a(href='/about') ABOUT
        .search
          input.srch(type='search', name='')
          a(href='#')
            button.btn Search
      .content
        p.par
          | Code School is a short-term, intensive training program that teaches students practical and job-ready tech skills including career guidance. It is a cheaper and faster educational programme compared to the traditional education system. This is an initiative that was started in January 2021 by an alumni of Refactory called Balenzi Phillip. It was put in place as an inspiration from the experience he got with his stay at Refactory. We are aimed at attracting more tech enthusiasts to join the industry due to the high demand of developers needed. We designed our programmes to offer flexibility to our enrollees. This allows our enrolles to alternate work and studying together. This is because we attract people from different sectors and backgrounds.   
        p.par
          | The length of courses provided at Code School range from between 8 and 36 weeks. Code School offers different modes of delivery i.e physical and remote lessons. Students can decide whether to attend lessons at the campus premises or attend virtually on different media tools such as Zoom, Googlemeet and Skype. We provide a short-term, intensive training focused on building job-ready skills. Enrollees explore coding fundamentals, learn industry-standard tools and software, and complete multifaceted coding tasks and projects. Code School attracts beginners interested in breaking into tech and experienced professionals looking to enhance their skills. We collaborate with different partners such as Refactory, Microsoft, Jimflo Building Company, Google etc. These partners offer our enrollees with internship programmes, job offers and further training to equip them with the real world industry skills and work experience. 
    script(src='https://unpkg.com/ionicons@5.4.0/dist/ionicons.js')